/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 20px;
}

.container, 
.logo{
    width: 98%;
    margin: 0 auto;
}

.highlighter{
    background-color: #ffff00;
}

.small-font{
    font-size: 15px;
}

.big-font{
    font-size: 40px;
}


/* HEADER */
header{
    height: 100px;
    background-color:#4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 400px;
    background-repeat: repeat;
    background-position: top;
}

header img{
    width: 200px;
    padding-top: 50px;
}

/* MAIN */

/* Titolo e scrittore */

.informazioni{
    color: #858585;
}

#scrittore{
    color: #4ea0ff;
}

/*Paragrafo */
.paragrafo{
    padding-top: 20px;
}

/* Elenco puntato */
ul{
    padding-top: 20px;
    padding-left: 20px;
}

/* Tabella Info */
table{
    padding-top: 20px;
    width: 100%;
}

th{
    padding-right: 80px;
}

thead{
    background-color: #20a9e5;
    color:#fff;
    text-align: left;
}

tbody td{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b1e5f2;
}

.white{
    background-color: #fff;
}

/* FOOTER */
footer{
    padding-top: 40px;
    padding-bottom: 40px;
}

.titolo{
    color: #808080;
}

.immagine-footer{
    width: 220px;
    height: 150px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.immagine-footer span{
    color: #ffff;
    font-weight: 500;
    padding-left: 10px;
}

#monitor{
    background-image: url("../img/monitor.jpg");
}

#graph{
    background-image: url("../img/graph.jpg");
}


